<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <style>
        /* Custom scrollbar */
        .scrollbar::-webkit-scrollbar {
            width: 12px;
            /* Width of the scrollbar */
        }

        .scrollbar::-webkit-scrollbar-track {
            background: #1a202c;
            /* bg-gray-900 */
            border-radius: 6px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background: #48bb78;
            /* bg-green-500 */
            border-radius: 6px;
            border: 3px solid #1a202c;
            /* Match the track color */
        }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #38a169;
            /* A darker shade of green for hover */
        }

        .scrollbar {
            scrollbar-color: #48bb78 #1a202c;
            /* thumb and track color */
            scrollbar-width: thin;
            /* or 'auto' or 'none' */
        }
    </style>
</head>

<body class=" bg-gray-900 flex relative items-center justify-center w-screen h-screen font-['helvetica_now_display']">
    <nav
        class="flex items-center justify-between absolute top-[2%] left-[2%] right-[2%] p-2 border-b-2 border-green-500">
        <div class="logo flex gap-2">
            <span class="text-5xl text-green-500">Bagify</span>
            <span class="text-5xl text-white">Shop</span>
        </div>
        <div class="flex items-center justify-evenly  w-1/3">
                <span class="text-xl text-white"><a class="hover:text-green-500" href="/">Home</a></span>
                <span class="text-xl text-white"><a class="hover:text-green-500" href="/shop">Products</a></span>
                <span class="text-xl text-white"><a class="hover:text-green-500" href="/cart">Cart</a></span>
                <span class="text-xl text-white"><a class="hover:text-green-500" href="">My Account</a></span>
                <span class="text-xl text-gray-900 px-3 py-2 bg-red-400 hover:bg-red-500 rounded-md"><a href="">Log Out</a></span>
        </div>

        
        


    </nav>
</body>

</html>