<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>

<body class=" bg-gray-900 flex relative items-center justify-center w-screen h-screen font-['helvetica_now_display']">
    <nav
        class="flex items-center justify-between absolute top-[2%] left-[2%] right-[2%] p-2">
        <div class="logo flex gap-2">
            <span class="text-5xl text-green-500">Bagify</span>
        </div>
    </nav>
    <div class="mian w-[50%] h-[40%]">
        <form class="flex flex-col items-center gap-3" action="">
            <input class="px-3 w-1/2 py-2 bg-gray-900 border-2 border-solid border-green-500 rounded-md outline-none text-white" type="email" placeholder="Email" name="" id="">
            <input class="px-3 w-1/2 py-2 bg-gray-900 border-2 border-solid border-green-500 rounded-md outline-none text-white" type="password" placeholder="Password" name="" id="">
            <input class="px-3 w-1/2 py-2 bg-gray-900 border-2 border-solid border-green-500 rounded-md outline-none text-white" type="password" placeholder="Referal Code" name="" id="">
            <input class="px-3  cursor-pointer py-2 bg-green-500 w-1/4 text-xl rounded-full" type="submit" value="Login">
        </form>
    </div>
</body>

</html>