<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagify</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body class=" bg-gray-900 flex relative items-center justify-center w-screen h-screen font-['helvetica_now_display']">
    <nav class="flex items-center justify-between absolute top-[2%] left-[2%] right-[2%] p-2 border-b-2 border-green-500">
        <div class="logo flex gap-2">
            <span class="text-5xl text-green-500">Bagify</span>
            <span class="text-5xl text-white">Shop</span>
        </div>
        <div class="flex items-center gap-15 justify-between w-1/4">
            <div class="w-1/2 flex items-center justify-between ">
                <span class="text-xl text-white"><a class="hover:text-green-500" href="">Home</a></span>
                <span class="text-xl text-white"><a class="hover:text-green-500" href="">Products</a></span>
            </div>
            <div class="w-1/2 flex items-center justify-between ">
                <span class="text-xl text-white"><a class="hover:text-green-500" href="">Cart</a></span>
                <span class="text-xl text-white"><a class="hover:text-green-500" href="">My Account</a></span>
            </div>
        </div>
    </nav>

    <div class="main absolute w-[96%] top-[12%] flex items-center justify-center h-[88%] ">
        <div class="w-1/5 h-full bg-pink-200">
            <div class="list">
                <p>Sort by: </p>
                
            </div>
        </div>
        <div class="w-4/5 h-full bg-red-500"></div>
    </div>
    
</body>
</html>